{% extends 'admin/adminindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>

<body>
<form id="form1" name="form1" method="post" action="/myapp/add_shape_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table class="table table-bordered table-striped table-hover">
      <tr>
    <th scope="row">CATEGORY</th>
    <td><select name="id" id="select"class="form-control" pattern="[A-Z a-z]*" required>
        {% for i in data %}
        <option value="{{ i.id }}">{{ i.category_name }}</option>
        {% endfor %}
      </select></td>
   </tr>
       <tr>
      <td>shape</td>
      <td><select name="shapes" id="select"class="form-control"required>
        <option value="ROUND">ROUND</option>
        <option value="OVAL">OVAL</option>
          <option value="HEXAGON">HEXAGON</option>
       <option value="L-SHAPED">L-SHAPED</option>
        <option value="RECTANLE">RECTANLE</option>
      </select></td>
    </tr>
       <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="ADD" class="btn btn-success" /></th>
    </tr>
        </table>
</form>
</body>
</html>
{% endblock %}