<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Intro Design Interior Category Bootstrap Responsive Website Template | Home :: w3layouts </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Intro Design Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
{#<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);#}
{#		function hideURLbar(){ window.scrollTo(0,1); } </script>#}

	<!-- css files -->
	<link href="/static/admin/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/admin/css/font-awesome.css" rel="stylesheet">

	<!-- about flexslider  stylesheet-->
	<link rel="stylesheet" href="/static/admin/css/flexslider.css" type="text/css" media="screen" />
	<!-- //about flexslider  stylesheet -->

	<link href="/static/admin/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- css files -->

	<!--fonts-->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!--//fonts-->

</head>
<body>

<!--Header-->
<div class="header" id="home">
	<div class="head">
		<div class="container">
			<div class="navbar-top">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
					 <div class="navbar-brand logo">
						<h1 style="color: red"><a href="/myapp/adminhome/">Wood Craft</a></h1>
					</div>

				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				 <ul class="nav navbar-nav link-effect-4">
{#					<li class="active first-list"><a href="index.html">Home</a></li>#}
                     <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-letters="Pages">Category</span><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/myapp/addcategory/#a">Add</a></li>
							<li><a href="/myapp/view_category/#a">View</a></li>
						</ul>
					</li>
                     <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-letters="Pages">Design</span><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/myapp/add_design#a">Add</a></li>
							<li><a href="/myapp/viewdesign#a">View</a></li>
						</ul>
					</li>



                     <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-letters="Pages">Post</span><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/myapp/add_post#a">Add</a></li>
							<li><a href="/myapp/view_post#a">View</a></li>
						</ul>
					</li>
                     <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-letters="Pages">Wood</span><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/myapp/add_wood#a">Add</a></li>
							<li><a href="/myapp/view_wood#a">View</a></li>
						</ul>
					</li>
                     <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-letters="Pages">Shape</span><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/myapp/add_shape#a">Add</a></li>
							<li><a href="/myapp/view_shape#a">View</a></li>
						</ul>
					</li>
                       <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-letters="Pages">Diamension</span><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/myapp/add_diamension#a">Add</a></li>
							<li><a href="/myapp/view_diamension#a">View</a></li>
						</ul>
					</li> <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-letters="Pages">Others</span><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/myapp/view_orders#a"> Order</a></li>
							<li><a href="/myapp/view_users#a"> Users</a></li>
							<li><a href="/myapp/view_verifiedorders#a"> Verified Orders</a></li>
                            <li><a href="/myapp/viewcustomised_order#a"> Customized Orders</a></li>
                            <li><a href="/myapp/viewverified_customisedorder#a"> Verified customized Orders</a></li>
                             <li><a href="/myapp/viewrating#a"> Rating</a></li>
                            <li><a href="/myapp/change_password#a">Change Password</a></li>
                            <li><a href="/myapp/login">Login</a></li>
						</ul>
					</li>




				  </ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</div>
	</div>
</div>
<!--//Header-->

<!--Slider-->
<div class="slider">
	<div class="callbacks_container">
		<ul class="rslides" id="slider3">
			<li>
				<div class="slider-img1">
					<div class="slider-dot">
						<div class="container">
							<div class="slider_banner_info_w3ls">
								<h2>Turning <span>wood</span> into works of art</h2>
								<div class="offer">

								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="slider-img2">
					<div class="slider-dot">
						<div class="container">
							<div class="slider_banner_info_w3ls">
								<h3>Inspired by <span>nature</span> crafted to last</h3>

								<div class="offer">

								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="slider-img3">
					<div class="slider-dot">
						<div class="container">
							<div class="slider_banner_info_w3ls">
								<h3>Simple <span> wood</span> timeless beauty </h3>


								</div>
							</div>

						</div>
					</div>
				</div>
			</li>

		</ul>
	</div>
</div>
<div class="clearfix"> </div>
<!--//Slider-->
<br>
<br>
<br>
<br>
<div id="a" style="height: 5vh"></div>
<div  class="py-5 my-5" container="margin-top">
    {% block body %}
    {% endblock %}
</div>


<!-- Welcome -->
<div class="welcome">
	<div class="container">
		<h3 class="heading"> welcome to <span>Intro Design</span> </h3>
		<div class="col-md-4 welcome_left">
			<div class="layer1">
				<div class="welcome_left_info">
					<h3>35</h3>
					<p>Years of experience</p>
				</div>
			</div>
		</div>
		<div class="col-md-8 welcome_right">
			<h3>Collection of interiors decoration</h3>
			<h5>---> porta vehicula nisi Praesent molestie elit.</h5>
			<p>Pellentesque tellus est, blandit non dui et, pretium posuere odio. Interdum et malesuadaet fames ac ante ipsum primis in faucibus. Ut blandit ex in risus lacinia posuere. Vestibulum ut tincidunt lectus, vitae faucibus felis. Vivamus pretium leo eu iaculis lobortis. In mollis.</p>
			<p>Pellentesque tellus est, blandit non dui et, pretium posuere odio. Interdum et malesuadaet fames ac ante ipsum primis in faucibus. Ut blandit ex in risus lacinia posuere. Vestibulum ut tincidunt lectus, vitae faucibus felis. Vivamus pretium leo eu iaculis lobortis. In mollis acin ligula auctor volutpat. Aliquam feugiat, sapien in volutpat tristique, turpis arcu faucibus mauris, non egestas nibh urna id sapien. Aliquam at ex dui.</p>
			<div class="know">
				<a href="about.html">Know more </a>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //Welcome -->







<!-- welcome bottom -->
<div class="container">
	<div class="about-section_1">
		<div class="inner-padding">
			<h3 class="heading-section_1info white-w3ls">Award winning interior design</h3>
			<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia. Interdum etins malesuadaet fames ac ante ipsum primis in faucibus. Ut blandit ex in risus lacinia posuere. Vestibulum ut tinciduntinert lectus turpis arcu faucibus mauris.</p>
			<div class="know">
				<a href="contact.html">Talk with us </a>
			</div>
		</div>
	</div>
</div>
<div class="bottom">
	<div class="container">
		<div class="bottom_grids">
			<div class="col-md-4 bottom_grid1">
				<h3>Interior expertise</h3>
				<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia. Interdum etins malesuadaet fames ac ante ipsum primis in faucibus. Ut blandit ex in risus lacinia posuere. Vestibulum</p>
			</div>
			<div class="col-md-4 bottom_grid1">
				<h3>Awards winning</h3>
				<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia. Interdum etins malesuadaet fames ac ante ipsum primis in faucibus. Ut blandit ex in risus lacinia posuere. Vestibulum</p>
			</div>
			<div class="col-md-4 bottom_grid1">
				<h3>Free consultation </h3>
				<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia. Interdum etins malesuadaet fames ac ante ipsum primis in faucibus. Ut blandit ex in risus lacinia posuere. Vestibulum</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //welcome bottom -->

<!-- Team -->
{#<div class="team">#}
{#	<div class="container">#}
{#		<h3 class="heading"> Designers <span>Team</span> </h3>#}
{#		<div class="section_1info-team-grids">#}
{#			<div class="col-md-3 wthree-team-grid">#}
{#				<img src="/static/admin/images/t1.jpg" alt="">#}
{#				<div class="wthree-team-grid-info">#}
{#					<div class="team_info">#}
{#						<h4>Mary Jane</h4>#}
{#						<p>Vestibulum</p>#}
{#					</div>#}
{#					<div class="team-social-grids">#}
{#						<ul>#}
{#							<li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#							<li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#						</ul>#}
{#					</div>#}
{#					<div class="clearfix"></div>#}
{#				</div>#}
{#			</div>#}
{#			<div class="col-md-3 wthree-team-grid">#}
{#				<img src="/static/admin/images/t2.jpg" alt="">#}
{#				<div class="wthree-team-grid-info">#}
{#					<div class="team_info">#}
{#						<h4>Selena</h4>#}
{#						<p>Vestibulum</p>#}
{#					</div>#}
{#					<div class="team-social-grids">#}
{#						<ul>#}
{#							<li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#							<li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#						</ul>#}
{#					</div>#}
{#					<div class="clearfix"></div>#}
{#				</div>#}
{#			</div>#}
{#			<div class="col-md-3 wthree-team-grid">#}
{#				<img src="/static/admin/images/t3.jpg" alt="">#}
{#				<div class="wthree-team-grid-info">#}
{#					<div class="team_info">#}
{#						<h4>Watson</h4>#}
{#						<p>Vestibulum</p>#}
{#					</div>#}
{#					<div class="team-social-grids">#}
{#						<ul>#}
{#							<li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#							<li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#						</ul>#}
{#					</div>#}
{#					<div class="clearfix"></div>#}
{#				</div>#}
{#			</div>#}
{#			<div class="col-md-3 wthree-team-grid">#}
{#				<img src="/static/admin/images/t4.jpg" alt="">#}
{#				<div class="wthree-team-grid-info">#}
{#					<div class="team_info">#}
{#						<h4>Steven</h4>#}
{#						<p>Vestibulum</p>#}
{#					</div>#}
{#					<div class="team-social-grids">#}
{#						<ul>#}
{#							<li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#							<li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#						</ul>#}
{#					</div>#}
{#					<div class="clearfix"></div>#}
{#				</div>#}
{#			</div>#}
{#			<div class="clearfix"> </div>#}
{#		</div>#}
{#	</div>#}
{#</div>#}
<!-- //Team -->
{##}
{#<!-- Slider -->#}
{#<div class="section" id="about">#}
{#	<div class="container">#}
{#		<div class="about-grids">#}
{#			<div class="col-md-7 bannerbottomright">#}
{#				<h3>How Does <span>We Work?</span></h3>#}
{#				<p>Ut enim ad minima veniam, quis nostrum exercitationem ulla corporis suscipit laborio samnisiinem ut aliquid ex ea. Vivamus pretium leo eu iaculis lobortis.</p>#}
{#				<h4><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span>We Work For Wooden Wall Design.</h4>#}
{#				<h4><span class="glyphicon glyphicon-check" aria-hidden="true"></span>Quality furniture for your home, office etc.</h4>#}
{#				<h4><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>Beautiful Architecture with affordable prices.</h4>#}
{#				<h4><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>We manufacture and sell furnitures.</h4>#}
{#				<h4><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span>We oversee all our landlord furniture.</h4>#}
{#			</div>#}
{#			<div class="col-md-5 about-left-grid">#}
{#				<div class="slider">#}
{#					<div id="slider" class="flexslider">#}
{#						<ul class="slides">#}
{#							<li>#}
{#								<img src="/static/admin/images/b1.jpg" alt="" />#}
{#							</li>#}
{#							<li>#}
{#								<img src="/static/admin/images/b2.jpg" alt="" />#}
{#							</li>#}
{#							<li>#}
{#								<img src="/static/admin/images/b3.jpg" alt="" />#}
{#							</li>#}
{#							<li>#}
{#								<img src="/static/admin/images/b4.jpg" alt="" />#}
{#							</li>#}
{#							<li>#}
{#								<img src="/static/admin/images/b5.jpg" alt="" />#}
{#							</li>#}
{#							<li>#}
{#								<img src="/static/admin/images/b1.jpg" alt="" />#}
{#							</li>#}
{#							<li>#}
{#								<img src="/static/admin/images/b2.jpg" alt="" />#}
{#							</li>#}
{#							<li>#}
{#								<img src="/static/admin/images/b3.jpg" alt="" />#}
{#							</li>#}
{#							<li>#}
{#								<img src="/static/admin/images/b4.jpg" alt="" />#}
{#							</li>#}
{#							<li>#}
{#								<img src="/static/admin/images/b5.jpg" alt="" />#}
{#							</li>#}
{#						</ul>#}
{#					</div>#}
{#					<div id="carousel" class="flexslider">#}
{#						<ul class="slides">#}
{#							<li>#}
{#								<img src="/static/admin/images/b1.jpg" alt="" />#}
{#							</li>#}
{#							<li>#}
{#								<img src="/static/admin/images/b2.jpg" alt="" />#}
{#							</li>#}
{#							<li>#}
{#								<img src="/static/admin/images/b3.jpg" alt="" />#}
{#							</li>#}
{#							<li>#}
{#								<img src="/static/admin/images/b4.jpg" alt="" />#}
{#							</li>#}
{#							<li>#}
{#								<img src="/static/admin/images/b5.jpg" alt="" />#}
{#							</li>#}
{#							<li>#}
{#								<img src="/static/admin/images/b1.jpg" alt="" />#}
{#							</li>#}
{#							<li>#}
{#								<img src="/static/admin/images/b2.jpg" alt="" />#}
{#							</li>#}
{#							<li>#}
{#								<img src="/static/admin/images/b3.jpg" alt="" />#}
{#							</li>#}
{#							<li>#}
{#								<img src="/static/admin/images/b4.jpg" alt="" />#}
{#							</li>#}
{#							<li>#}
{#								<img src="/static/admin/images/b5.jpg" alt="" />#}
{#							</li>#}
{#						</ul>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#			<div class="clearfix"> </div>#}
{#		</div>#}
{#	</div>#}
{#</div>#}
<!-- //Slider -->

<!--footer -->
<div class="footer footer_w3layouts_section_1its">
	<div class="container">
		<div class="footer-top">
			<div class="col-md-3 footer-grid_section_1its_w3">
				<div class="footer-title">
					<h3>About Us</h3>
				</div>
				<div class="footer-text">
					<p>Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at tellus.
						Nulla porttitor accumsana tincidunt. Vestibulum ante ipsum primis tempus convallis.</p>
					<ul class="social_section_1info">
						<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 footer-grid_section_1its_w3">
				<div class="footer-title">
					<h3>Contact Info</h3>
				</div>
				<div class="contact-info">
					<h4>Location :</h4>
					<p>0926k 4th block building, king Avenue, New York City.</p>
					<div class="phone">
						<h4>Phone :</h4>
						<p>Phone : +121 098 8907 9987</p>
						<p>Email : <a href="mailto:info@example.com">info@example.com</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-3 footer-grid_section_1its_w3">
				<div class="footer-title">
					<h3>Useful Links</h3>
				</div>
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About Our Company</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="index.html">Team Members</a></li>
					<li><a href="gallery.html">Gallery</a></li>
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid_section_1its_w3">
				<div class="footer-title">
					<h3>Subscribe</h3>
				</div>
				<div class="footer-text">
					<p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Enter your email..." required="">
						<button class="btn1"><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
						<div class="clearfix"> </div>
					</form>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="copyright">
			<p>© 2018 Intro Design. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
		</div>
	</div>
</div>
<!-- //footer -->


	<!-- js -->
	<script type="text/javascript" src="/static/admin/js/jquery-2.1.4.min.js"></script>
	<!-- //js -->

	<!-- Team bottom FlexSlider -->
	<script defer src="/static/admin/js/jquery.flexslider.js"></script>
	<script>
		$(window).load(function () {
			$('#carousel').flexslider({
				animation: "slide",
				controlNav: false,
				animationLoop: true,
				slideshow: false,
				itemWidth: 102,
				itemMargin: 5,
				asNavFor: '#slider'
			});

			$('#slider').flexslider({
				animation: "slide",
				controlNav: false,
				animationLoop: true,
				slideshow: true,
				sync: "#carousel",
				start: function (slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>
	<!-- // Team bottom FlexSlider -->

	<!-- Banner Responsive slider -->
	<script src="/static/admin/js/responsiveslides.min.js"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 3
			$("#slider3").responsiveSlides({
				auto: true,
				pager: false,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!-- // Banner Responsive slider -->

	<script src="/static/admin/js/SmoothScroll.min.js"></script>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>

	<!-- move to top-js-files -->
	<script type="text/javascript" src="/static/admin/js/move-top.js"></script>
	<script type="text/javascript" src="/static/admin/js/easing.js"></script>
	<!-- //move to top-js-files -->

	<script type="text/javascript" src="/static/admin/js/bootstrap-3.1.1.min.js"></script><!-- bootstrap js file -->

</body>
</html>