{% extends 'admin/adminindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>

<body>
<form action="/myapp/edit_design_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
     {% csrf_token %}
 <table class="table table-bordered table-striped table-hover">
<input type="hidden" value="{{ data.id }}" name="id">
    <tr>
      <td width="105">CATEGORY</td>
      <td><select name="category_id"  class="form-control"required pattern="[A-Z a-z]*" required>
          {% for i in cat %}
              <option {% if data.WOOD.CATEGORY.id == i.id %}selected{% endif %} value="{{ i.id }}">{{ i.category_name }}</option>

{#              <option {% if data.category_id == i.id %}selected{% endif %}  value="{{ i.id }}">{{ i.category_name }}</option>#}
          {% endfor %}
      </select></td>
    </tr>
    <tr>
      <td>PHOTO</td>

      <td><input type="file" name="photo" id="photo" required  /><br>

          <img src="{{ data.photo}}" width="200px" height="200px"></td>
    </tr>
    <tr>
      <td>PRICE</td>
      <td><input type="text" name="price" id="price" value="{{ data.price }}" class="form-control"pattern="[0-9]{1-6}"required/></td>
    </tr>
  <tr>
      <td>SHAPE</td>
      <td><input type="text" name="shapes" id="shape" value="{{ data.shape}}" class="form-control"required/></td>
    </tr>
  <tr>
      <td>WOOD_NAME</td>
      <td><input type="text" name="wood_name" id="wood_name" value="{{ data.WOOD.wood_name }}" class="form-control"required/></td>
    </tr>
    <tr>
      <td>DESCRIPTION</td>
        <td><TEXTAREA  name="description" id="description" class="form-control"required >{{ data.description }}</TEXTAREA></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="2" id="2" value="UPDATE" class="btn btn-success" /></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}