{% extends 'admin/adminindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>

<body>
<form id="form1" name="form1" method="post" action="/myapp/edit_wood_post/" enctype="multipart/form-data">
    {% csrf_token %}
  <table class="table table-bordered table-striped table-hover">
<input type="hidden" value="{{ data.id }}" name="id">
    <tr>
      <th width="176" scope="col">WOOD_NAME</th>
      <th width="121" scope="col"><input type="text" name="wood_name" id="5" value="{{ data.wood_name }} class="form-control""/></th>
    </tr>
       <tr>
      <th width="176" scope="col">SQFT_CHARGE</th>
      <th width="121" scope="col"><input type="text" name="sqft_charge" id="5" value= "{{ data.sqft_charge }} class="form-control""/> </th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="52" id="52" value="UPDATE" class="btn btn-success" /></td>
    </tr>
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
{% endblock %}